<div class="layout">
  <aside class="sidebar">
    <img src="../../../assets/WhatsApp_Image_2024-03-08_at_16.15.20-removebg-preview.png" alt="" width="200px">
    <nav>
      <ul>
        <li><a routerLink="/financas">Finanças</a></li>
        <li><a routerLink="/estoque">Estoque</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/clientes">Clientes</a></li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    <h1>Bem-vindo ao Sistema!</h1>
    <p>Explore as opções disponíveis e comece a gerenciar suas vendas e finanças de maneira eficaz.</p>
  </main>
</div>
